.idea
.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
.hypothesis
htmlcov
*.egg-info
Pipfile.lock
abci_build/
keys.json
leak_report
packages/valory/agents
packages/valory/connections
packages/valory/contracts
packages/valory/protocols
packages/valory/skills
packages/open_aea
packages/fetchai
*.pyc
.vscode/
.coverage*

*.env

impact_evaluator/

run_iekit.sh

run_contribute.sh
